Member Home<br>
HI {{ member.name }} <br>
<a href="{% url 'create_post' %}">
  <button>Create New Post</button>
</a>
<br>All Posts<br>
{% for post, author in posts_with_authors %}
  <div>
    <h3>{{ post.title }}</h3>
    <p>{{ post.content }}</p>
    <p>Author: {{ author }}</p>
    <p>Status: {{ post.verified|yesno:"Verified,Not Verified" }}</p>
    {% if user_type == 'member' and not post.verified %}
      <a href="{% url 'verify_post' post.post_id %}">Verify</a>
    {% endif %}
    <p>Likes: {{ post.likes }}</p>
    {% if post.post_id in liked_post_ids %}
      <button disabled>Liked</button>
    {% else %}
      <a href="{% url 'like_post' post.post_id %}"><button>Like</button></a>
  {% endif %}
  </div>
{% endfor %}
<a href="{% url 'view_applications' %}">View Recruitment Applications</a>
<a href="/home">Logout</a>