Member Home<br>
HI {{ member.name }} <br>
<a href="{% url 'create_post' %}">
  <button>Create New Post</button>
</a>
<br>All Posts<br>
{% for post, author_info, user_type in posts_with_authors %}
  <div>
    <h4>{{ post.title }}</h4>
    <p>{{ post.content }}</p>

    {% if user_type == 'member' %}
      <p>By:
        <a href="{% url 'member_profile' post.author_reg_no %}">
          {{ author_info.name }} ({{ author_info.role }}) ✅
        </a>
      </p>
    {% elif user_type == 'account' %}
      <p>By:
        <a href="{% url 'account_profile' post.author_reg_no %}">
          {{ author_info.name }}
        </a>
      </p>
    {% else %}
      <p>By: Unknown</p>
    {% endif %}
  </div>
{% endfor %}
<a href="{% url 'view_applications' %}">View Recruitment Applications</a>
<a href="/home">Logout</a>