@import url('https://fonts.googleapis.com/css?family=Montserrat:400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,200&display=swap');
@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Poppins:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Star+Wars:wght@300&display=swap');

/* Global CSS Variables */
:root {
  --heading-font: 'Montserrat', Arial, sans-serif;
  --subheading-font: 'Star Wars', Arial, sans-serif;
  --para-font: 'Poppins', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #090924;
  --primary-color: #F6F6DB;
  --secondary-color: #FFF8EC;
  --accent-color: #E6E636;
  --box-color-light: #B9B9B9;
  --box-color-dark1: #000713;
  --box-color-dark2: #262626;
  --button-color: #000713;
  --button-hover-color: #262626;
  --page-black: #222222;
  --page-white: #f1f1e2;
  --box-shadow: 0 4px 10px #367ce6;
  --input-bg: #374151;
  --input-border: #4b5563;
  --input-focus: #89a4ff;
  --button-primary: #fcfccb;
  --button-primary-hover: #e6c636;
  --button-google: #1f2937;
  --button-google-hover: #374151;
  --link-color: #ebd2a8;
  --link-hover: #93c5fd;
  --error-color: #f7b0b0;
  --success-color: #8ef0cf;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
}